{% extends "base_generic.html" %}

{% block content %}
    <h1>Employee Profile</h1>
    <form action="{% url 'home' %}" method="get">
        {% csrf_token %}
        <button type="submit">Home</button>
    {% if user.is_authenticated %}
        <p>Name: {{ user.employee.name }}</p>
        <p>Phone: {{ user.employee.phone }}</p>
        <p>Email: {{ user.employee.email }}</p>
        <p>Date of Birth: {{ user.employee.date_of_birth }}</p>
        <p>Description: {{ user.employee.description }}</p>
        {% if user.employee.photo %}
            <img src="{{ user.employee.photo.url }}" alt="Photo" width="300" height="400">
        {% endif %}
        <a href="{% url 'edit_profile' %}">Edit</a>
    {% else %}
        <p>You are not logged in.</p>
    {% endif %}
{% endblock %}
