{% extends "base_generic.html" %}

{% block content %}
    
    {% if is_employee or user.is_superuser %}
        <a href="{% url 'clients' %}"><li>Clients</li></a>
        <a href="{% url 'orders' %}"><li>Orders</li></a>
    {% endif %}   

    <form action="" method="get">
        <label for="price_min">Price from:</label>
        <input type="number" id="price_min" name="price_min" value="{{ request.GET.price_min }}">
        <label for="price_max">to:</label>
        <input type="number" id="price_max" name="price_max" value="{{ request.GET.price_max }}">
        <label for="producttype">ProductType:</label>
        <select id="producttype" name="producttype">
            <option value="">All</option>
            {% for producttype in producttypes %}
                <option value="{{ producttype }}" {% if request.GET.producttype == producttype.name %}selected{% endif %}>{{ producttype }}</option>
            {% endfor %}
        </select>
        <label for="productmodel">ProductModel:</label>
        <select id="productmodel" name="productmodel">
            <option value="">All</option>
            {% for productmodel in productmodels %}
                <option value="{{ productmodel }}" {% if request.GET.productmodel == productmodel.name %}selected{% endif %}>{{ productmodel }}</option>
            {% endfor %}
        </select>
        <label for="search">Search (by name):</label>
        <input type="text" id="search" name="search" value="{{ request.GET.search }}">
        <input type="submit" value="Filter">
    </form>

    {% for product in products %}
        <div>
            <h2>{{ product }}</h2>
            {% if not is_employee and not is_superuser %}
            <form action="{% url 'create_order' product.id %}" method="get">
                {% csrf_token %}
                <input type="submit" value="Order">
            </form>
            {% endif %}
        </div>
    {% endfor %}
    
{% endblock %}
